<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% extends 'base.html' %} {% block content %} <!-- Blog entries -->
	<div class="w3-col l8 s12">
		{% for post in post_list %} <!-- Blog entry -->
		<div class="w3-card-4 w3-margin w3-white">
			{% if post.photo %} <img alt="Norway" src="{{ post.photo }}" style="width:100%;height:350px"> {% endif %}
			<div class="w3-container">
				<h3><b>{{post.title}}</b></h3>{% if post.location %}
				<h6 align="right" style="color:#404040">Location : {{post.location}}</h6>{% endif %}
				<h6 align="right"><span class="w3-opacity">Post time : {{ post.created_at|date:"M d, Y @ P" }}</span></h6>
			</div>
			<div class="w3-container">
				<div class="w3-row">
					<div class="w3-col m8 s12">
						<p><button class="w3-button w3-padding-large w3-white w3-border"><b><a href="{% url 'post_detail' pk=post.pk %}" style="text-decoration: none">READ MORE »</a></b></button></p>
					</div>
					<div class="w3-col m4 w3-hide-small">
						<p><span class="w3-padding-large w3-right"><b>Comments &nbsp;</b> <span class="w3-tag">{{ post.comment_number }}</span></span></p>
					</div>
				</div>
			</div>
		</div>{% endfor %}
		<hr>
		<!-- END BLOG ENTRIES -->
	</div>{% endblock %}
</body>
</html>